*.mp4
*.csv
.*
maps.html
*.csv
!.htaccess
/yt
/vendor
/composer.lock
/packages/google.maps.d.ts.1.0.10
/typings
/WebEssentials2015-Settings.json
/wetboat.sln
/wetboat.phpproj
/packages.config
/packages
/Scripts/typings
